<%- include('../partials/header'); %>

<main class="main main-playstationGames">
    <h2 class="main-h2"><%= name %></h2>
    <section class="section section-playstationGames">
        <% data.forEach(item => { %>
            <figure class="figure playstationGame-figure">
                <a href="/playstationGame/<%= item-id %>">
                <% console.log(item) %>
            </a>
                <p><%= item.id%></p>
                <p><%= item.name%></p>
                <p><%= item.genre%></p>
                <p><%= item.developers%></p>
                <p><%= item.publishers%></p>
                <p><%= item.releaseDates%></p>
            </figure>
      <% }) %>
    </section>

</main>


<%- include('../partials/footer'); %>