<%- include('../partials/header'); %>

<main class="main main-home">
    <h2 class="home-header">
        Single Game Page
    </h2>
    <p><%= item.id%></p>
    <p><%= item.name%></p>
    <p><%= item.genre%></p>
    <p><%= item.developers%></p>
    <p><%= item.publishers%></p>
    <p><%= item.releaseDates%></p>
</main>


<%- include('../partials/footer'); %>